

@keyframes ldio-cdzyvsxmpj {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
.ldio-cdzyvsxmpj > div > div {
  transform-origin: 50px 50px;
  animation: ldio-cdzyvsxmpj 3.0303030303030303s linear infinite;
  opacity: 0.8
}
.ldio-cdzyvsxmpj > div > div > div {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 35px;
  height: 35px;
  border-radius: 35px 0 0 0;
  transform-origin: 50px 50px
}.ldio-cdzyvsxmpj > div div:nth-child(1) {
  animation-duration: 0.7575757575757576s
}
.ldio-cdzyvsxmpj > div div:nth-child(1) > div {
  background: #eb7f19;
  transform: rotate(0deg);
}.ldio-cdzyvsxmpj > div div:nth-child(2) {
  animation-duration: 1.0101010101010102s
}
.ldio-cdzyvsxmpj > div div:nth-child(2) > div {
  background: #dfa950;
  transform: rotate(0deg);
}.ldio-cdzyvsxmpj > div div:nth-child(3) {
  animation-duration: 1.5151515151515151s
}
.ldio-cdzyvsxmpj > div div:nth-child(3) > div {
  background: #94733c;
  transform: rotate(0deg);
}.ldio-cdzyvsxmpj > div div:nth-child(4) {
  animation-duration: 3.0303030303030303s
}
.ldio-cdzyvsxmpj > div div:nth-child(4) > div {
  background: #f4edd8;
  transform: rotate(0deg);
}
.loadingio-spinner-wedges-4qitkt1p2m2 {
  width: 64px;
  height: 64px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-cdzyvsxmpj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.64);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-cdzyvsxmpj div { box-sizing: content-box; }
